.pageWrapper {
  display: flex;
}

.contentWrapper {
  margin-left: 220px; 
  padding: 20px;
  margin-top: 70px; 
  width: calc(100% - 220px);
  display: flex;
  justify-content: center;
}

.productContainer {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f1f1ff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
  text-align: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.productContainer h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
  color: #1a1a54;
}

.price {
  font-size: 1.5em;
  color: #1a1a54;
  margin-bottom: 20px;
  text-align: right;
}

.productImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

.description {
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #555;
}

.category {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1a1a54;
}

.approvalState {
  font-size: 1.1em;
  margin-bottom: 30px;
  color: green; 
}

.backButton {
  background-color: #1a1a54; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.backButton:hover {
  background-color: #20205b; 
}
