/* VintageTimepieces.css */
.containera {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.detail-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
}

.detail-content {
    margin-top: -240px;
    padding: 45px;
    max-width: 30%;
    position: relative;
    z-index: 2;
}

.containera h1 {
    font-size: 3.4em;
    margin-bottom: 10px;
    font-weight: 700;
}

.containera p {
    font-size: 1.2em;
    color: #a29b9b;
    margin-bottom: 70px;
}

.containera .price {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 1.4em;
    z-index: 2;
}

.containera .buttons {
    display: flex;
    gap: 50px;
}

.containera button {
    font-size: 1.4rem;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.containera button:hover {
    background-color: rgba(255,255,255,0.1);
}

.gallery {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 16px;
    z-index: 2;
}

.card {
    border-radius: 10px;
    width: 300px;
    height: 350px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid transparent;
}

.card:hover {
    transform: scale(1.05);
}

.card.active {
    border-color: #fff;
}