/* Auction list container */
.maincontainerl {
  position: relative;
  /* width: 1520px;  */
  width: 100%;
  height: fit-content;
  background-color: white;
  color: #000; /* Text color changed for visibility */
  overflow: hidden;
  align-items: center;
}

/* Auction list header */
.headerl {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin: 20px 40px;
  width: 100%;
}

.headerl h1{
  font-size: 2.5rem;
}

/* Auction items container */
.container2l {
  margin: 10px 0; /* Adjusted margins */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centers the items on the screen */
  align-items: center;
  width: 100%; /* Ensures the container takes full width */
}

/* Auction card styling */
.card2 {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  width: calc(31.5%); /* Adjust width to fit more cards in a row */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Auction card image */
.card2 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Auction card content */
.card-content2 {
  padding: 15px;
}

/* Auction card title */
.card2 h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

/* Auction information */
.auction-info2 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

/* Auction card buttons */
.buttons2 {
  display: flex;
  justify-content: space-between;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.page-button.active {
  background-color: #000080;
  color: white;
}

/* General button styling */
.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  background-color: #000080;
  color: white;
}

.btn-secondary {
  background-color: #f0f0f0;
  color: #333;
}

/* Dropdown select styling */
select {
  padding: 8px;
  border-radius: 4px;
  margin-left: 7px;
  border: 1px solid #ccc;
}

option{
  color: #000;
}

.categoryname{
  color: #000;
  font-size: 1rem;
}
