.pageWrapper {
  display: flex;
}

.contentWrapper {
  margin-left: 220px; /* Same width as sidebar */
  padding: 20px;
  margin-top: 70px; /* Adjust according to navbar height */
  width: calc(100% - 220px);
  animation: fadeIn 0.5s ease-in-out;
}

.contentWrapper h1{
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



.addButton {
  background-color: #1a1a54; /* Bootstrap Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 100px;
}

.addButton:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.productsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productCard {
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}
.dash{
  font-weight: 900;
  font-size: 1.1rem;
 
}

.productCard:hover {
  transform: scale(1.02);
}

.productImage {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 5px;
  object-fit: cover;
}

.productDetails {
  flex-grow: 1;
  display: flex;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.deleteBtn, .viewBtn {
  padding: 10px 15px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
}

.deleteBtn {
  background-color: #dc3545; /* Bootstrap Red */
  transition: background-color 0.3s ease;
}

.deleteBtn:hover {
  background-color: #b02a37; /* Darker red on hover */
}

.viewBtn {
  background-color: #007bff; /* Bootstrap Blue */
  transition: background-color 0.3s ease;
}

.viewBtn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
