/* YourProduct.css */

.your-product-page {
    display: flex;
    flex-direction: column;
  }
  
  .product-container {
    display: flex;
    margin-top: 100px;
  }
  
  .content {
    flex: 1;
    padding: 20px 400px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-product-button {
    padding: 10px 20px;
    background-color: #2b3a5b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-product-button:hover {
    background-color: #1f2c44;
  }
  
  .product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  .product-details {
    display: flex;
    align-items: center;
  }
  
  .product-details img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 5px;
  }
  
  .product-info {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .product-info p {
    margin: 0 0 0px;
    width: max-content;

  }

  .dash{
    color: #1f2c44;
    font-weight: bolder;
  }
  
  .product-actions {
    display: flex;
  }
  
  .product-actions button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #2b3a5b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .product-actions button:hover {
    background-color: #1f2c44;
  }
  
  .delete-button {
    background-color: #d9534f;
  }
  
  .delete-button:hover {
    background-color: #c9302c;
  }
  
  /* Delete Confirmation Modal */
  .delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .confirm-delete-button, .cancel-button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    cursor: pointer;
  }
  
  .confirm-delete-button {
    background-color: #d9534f;
    color: white;
  }
  
  .confirm-delete-button:hover {
    background-color: #c9302c;
  }
  
  .cancel-button {
    background-color: #6c757d;
    color: white;
  }
  
  .cancel-button:hover {
    background-color: #5a6268;
  }
  